# Игнорирование виртуального окружения
.venv/

# Игнорирование выходных файлов сборки
__pycache__/
*.py[cod]

# Игнорирование временных файлов
*.tmp

# Игнорирование системных файлов
.DS_Store
*~

# Игнорирование временных файлов редакторов
*.swp
*.bak

# Игнорирование конфигурационных файлов IDE
.idea/

# Игнорирование файлов, создаваемых сборщиками или инструментами CI/CD
*.egg-info/
dist/
build/

